@import "tailwindcss";
:root {
  padding: 0%;
  margin: 0px;
  font-family: "Jersey 15", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Jersey 15", sans-serif;
}

body {
  background-color: #9f80ac;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid grey;
  background-color: var(--color-amber-50);
}

form button {
  background-color: var(--color-amber-50);
  border: 1px solid grey;
  cursor: pointer;
}